[theme~="badge"] {
    --_gm-style-color: var(--lumo-shade-70pct);
    --_gm-subtle-text-color: var(--lumo-contrast-color);
    --_gm-subtle-background-color: var(--lumo-primary-color-10pct);
    height: fit-content;
    color: var(--lumo-primary-contrast-color);
    background-color: var(--_gm-style-color);
    font-size: 12px;
    font-weight: 600;
    border-radius: 1.5px;
    text-transform: uppercase;
    padding-left: 8px;
    padding-right: 8px;
}

[theme~="badge"][theme~="success"] {
    --_gm-style-color: var(--lumo-success-color);
    --_gm-subtle-text-color: var(--_gm-style-color);
    --_gm-subtle-background-color: var(--lumo-success-color-10pct);
    color: var(--lumo-success-contrast-color);
    background-color: var(--_gm-style-color);
}

[theme~="badge"][theme~="error"] {
    --_gm-style-color: var(--lumo-error-color);
    --_gm-subtle-text-color: var(--_gm-style-color);
    --_gm-subtle-background-color: var(--lumo-error-color-10pct);
    color: var(--lumo-error-contrast-color);
    background-color: var(--_gm-style-color);
}

[theme~="badge"][theme~="information"] {
    --_gm-style-color: var(--lumo-information-color);
    --_gm-subtle-text-color: var(--_gm-style-color);
    --_gm-subtle-background-color: var(--lumo-information-color-10pct);
    color: var(--lumo-information-contrast-color);
    background-color: var(--_gm-style-color);
}

[theme~="badge"][theme~="warning"] {
    --_gm-style-color: var(--lumo-warning-color);
    --_gm-subtle-text-color: var(--lumo-warning-contrast-color);
    --_gm-subtle-background-color: var(--lumo-warning-color-10pct);
    --_gm-minimal-text-color: #D9A514;
    color: var(--lumo-warning-contrast-color);
    background-color: var(--_gm-style-color);
}

[theme~="badge"][theme~="subtle"] {
    color: var(--_gm-subtle-text-color);
    background-color: var(--_gm-subtle-background-color);
}

[theme~="badge"][theme~="minimal"] {
    color: var(--_gm-minimal-text-color);
    background: none;
    border: 1px solid var(--lumo-shade-30pct);
}

[theme~="badge"][theme~="large"] {
    font-size: var(--lumo-font-size-m);
    line-height: 1;
}

[theme~="badge"][theme~="xSmall"] {
    font-size: var(--lumo-font-size-xxxs);
    line-height: 1;
    padding-left: 6px;
    padding-right: 6px;
}
