[part='label'] {
    color: var(--lumo-shade-80pct);
    font-weight: 500;
    font-size: var(--lumo-font-size-m);
}

:host([focused]:not([readonly])) [part='label'] {
    color: var(--lumo-shade-80pct);
}

:host([focused]:not([readonly]):not([disabled])) [part='label'] {
    color: var(--lumo-shade-80pct);
}