[part='input-field'],
:host(:hover:not([readonly]):not([focused]):not([invalid])) [part="input-field"]::after {
    background-color: transparent;
    border: 1px solid var(--lumo-contrast-60pct);
}

:host([focused]:not([readonly])) [part='input-field'] {
    border-color: var(--lumo-primary-color);
}

[part='helper-text'] {
    color: var(--lumo-contrast-80pct);
}

::slotted(:is(input, textarea):placeholder-shown) {
    color: var(--lumo-contrast-50pct);
    font-weight: 400;
}
