@import url('common-input-field.css');
@import url('common-field-label.css');


[part="toggle-button"] {
    color: var(--lumo-contrast-40pct);
}

:host([opened]) [part="toggle-button"] {
    transform: rotate(180deg);
    color: var(--lumo-contrast);
}