@import url('common-input-field.css');
@import url('common-field-label.css');

[part='input-field'] {
    padding-right: 4px;
    padding-left: 4px;
}

:host(:hover:not([readonly]):not([focused]):not([invalid])) [part="input-field"] {
    background-color: var(--lumo-tint);
}

:host([theme~="large"]) {
  font-size: var(--lumo-font-size-l);
  --lumo-text-field-size: var(--lumo-size-l);
}

:host([theme~="large"]) [part="label"] {
  font-size: var(--lumo-font-size-l);
}

:host([theme~="large"]) [part="helper-text"] {
  font-size: var(--lumo-font-size-s);
}

:host([theme~="readonly"]) [part="input-field"] {
    background-color: var(--lumo-shade-20pct);
    border-color: var(--lumo-contrast-5pct);
}

:host([readonly]) [part="input-field"] {
    background-color: var(--lumo-shade-20pct);
    border: 1px solid var(--lumo-shade-10pc);
}
