[part="toolbar"] {
    padding: calc(var(--lumo-space-s) - 1px) var(--lumo-space-s) var(--lumo-space-s);
    flex-direction: row-reverse;
    justify-content: flex-start;
    border-top: 1px solid var(--gm-divider-color);
    margin-right: 0;
    border-radius: 0 0 var(--lumo-border-radius) var(--lumo-border-radius);
    background-color: var(--lumo-base-color);
    background-image: linear-gradient(var(--lumo-tint-5pct), var(--lumo-tint-5pct));
}

[part="today-button"] {
    color: var(--lumo-primary-color);
}

[part="cancel-button"] {
    color: var(--lumo-contrast-90pct);
}

[part="years"] [part="year-number"][current] {
  font-weight: 600;
}
