@import url('common-input-field.css');
@import url('common-field-label.css');

:host {
/*    font-family: var(--lumo-font-family);*/ /*add this after the main family styles have been added*/
    padding: 0;
}

[class$='container'] {
    width: 18em;
}

:host([has-label]) {
  padding-top: calc(var(--lumo-space-m) + 0.25rem);
}

:host(:hover:not([readonly]):not([focused])) [part='input-field']::after {
    opacity: 0;
}

[part='input-field'] ::slotted(:not(iron-icon):not(vaadin-icon):not(input):not(textarea)) {
    color: var(--lumo-shade-80pct);
    font-weight: 500;
    font-size: 12px;
    padding-left: 3.4px;
    padding-right: 3.4px;
}

::slotted(iron-icon), ::slotted(vaadin-icon) {
    color: var(--lumo-contrast);
}

:host([readonly]) [part='input-field'] {
    border: none;
}

:host([theme~='large']) {
    font-size: var(--lumo-font-size-l);
    --lumo-text-field-size: var(--lumo-size-l);
}

:host([theme~='large']) [part='label'] {
    font-size: var(--lumo-font-size-l);
}

:host([theme~='large']) [part='input-field'] ::slotted(:not(iron-icon):not(vaadin-icon):not(input):not(textarea)) {
    font-size: 14px;
}

:host([theme~='large']) [part='helper-text'] {
    font-size: var(--lumo-font-size-s);
}

:host([theme~='small']) [part='input-field'] ::slotted(:not(iron-icon):not(vaadin-icon):not(input):not(textarea)) {
    font-size: 10px;
}
