[part="items"] ::slotted(.vaadin-menu-item) {
    border-radius: 0;
}

[part="items"] ::slotted(.vaadin-menu-item:hover:not([disabled])),
[part="items"] ::slotted(.vaadin-menu-item[expanded]:not([disabled])) {
    background-color: var(--lumo-shade-5pct);
}

:host(.vaadin-menu-list-box) [part="items"] ::slotted(.vaadin-menu-item) {
    padding-left: var(--lumo-space-m);
}

[part="items"] ::slotted(.vaadin-menu-item) {
    padding-left: var(--lumo-space-m);
}