:host([has-label]) ::slotted(label) {
    padding: var(--lumo-space-xs) var(--lumo-space-s);
    color: var(--lumo-contrast);
}

.vaadin-radio-button-container {
    align-items: center;
}

[part="radio"] {
    width: 14px;
    height: 14px;
    background: transparent;
    border: 1px solid var(--lumo-contrast-40pct);
}

:host([checked]) [part="radio"] {
    border: 1px solid var(--lumo-contrast-40pct);
    background-color: var(--lumo-base-color);
}

[part="radio"]::after {
    border-color: var(--lumo-primary-color);
}

:host(:not([checked]):not([disabled]):hover) [part="radio"] {
  background-color: transparent;
  border-color: var(--lumo-contrast-50pct);
}
