@import url('common-input-field.css');
@import url('common-field-label.css');

[part='input-field'] {
    padding-right: 4px;
    padding-left: 4px;
}

:host(:hover:not([readonly]):not([focused]):not([invalid])) [part="input-field"] {
    background-color: transparent;
}

:host([theme~="large"]) {
    font-size: var(--lumo-font-size-l);
    --lumo-text-field-size: var(--lumo-size-l);
}

:host([theme~="large"]) [part="label"] {
    font-size: var(--lumo-font-size-l);
}

:host([theme~="large"]) [part="helper-text"] {
    font-size: var(--lumo-font-size-s);
}

:host([theme~="readonly"]) [part="input-field"] {
    background-color: var(--lumo-contrast-5pct);
    border: 1px solid var(--lumo-contrast-20pct);
}

:host([readonly]) {
    color: var(--lumo-contrast-50pct);
}

:host([readonly]) [part="input-field"] {
    background-color: var(--lumo-contrast-5pct);
    border: 1px dashed var(--lumo-contrast-20pct);
}
