:host(:hover:not([readonly]):not([focused])) [part='input-field']::after {
    opacity: 0;
}

/*[part='input-field'] {
   input-security: square;
}*/

[part='reveal-button'] {
    color: var(--lumo-contrast);
}
