:host {
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 0px;
}

:host([selected]) [part="checkmark"]::before {
    opacity: 0;
}

[part="checkmark"]::before {
    display: none;
}

:host(:hover:not([disabled])) {
   background-color: var(--lumo-shade-5pct);
}

:host([focused]:not([disabled])) {
    box-shadow: none;
}

:host([focused]:not([disabled])) [part="content"] {
    color: var(--lumo-primary-color);
    font-weight: 500;
}

::slotted(:not([selected])) [part="content"] {
    color: var(--lumo-contrast-40pct);
    font-weight: 400;
}
