:host(:hover:not([readonly]):not([focused])) [part='input-field']::after {
    opacity: 0;
}

[part='input-field'] {
   input-security: square;
}

[part='label'] {
    color: var(--lumo-shade-80pct);
    font-weight: 600;
    font-size: var(--lumo-font-size-m);
}

:host([focused]:not([readonly])) [part='label'] {
    color: var(--lumo-shade-80pct);
}

[part='reveal-button'] {
    color: var(--lumo-contrast);
}
