:host([top-aligned]) [part~="overlay"] {
    margin-top: 0.07rem;
}

[part="overlay"] {
    border-radius: var(--lumo-border-radius);
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12), 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
    color: var(--lumo-body-text-color);
}
