@import url('./main-layout.css');
@import url('./components/badge.css');

html {
    --lumo-primary-color: #186ADE;
    --lumo-primary-color-10pct: #D4E4FA;
    --lumo-primary-color-20pct: #BED7FA;
    --lumo-primary-color-20pct: #C6DAF5;
    --lumo-primary-color-50pct: #525fe8;

    --lumo-success-color: #077D55;
    --lumo-success-color-10pct: #EBF7ED;

    --lumo-error-color: #D91F11;
    --lumo-error-color-10pct: #FCF3F2;

    --lumo-information-color: var(--lumo-primary-color);
    --lumo-information-color-10pct: #F0F4FA;
    --lumo-information-contrast-color: var(--lumo-primary-contrast-color);

    --lumo-warning-color: #F5C518;
    --lumo-warning-color-10pct: #FAF6CF;
    --lumo-warning-contrast-color: var(--lumo-contrast);

    --lumo-shade-5pct: #ECEFF2;
    --lumo-shade-10pct: #DCE3E8;
    --lumo-shade-20pct: #D4D9DC;
    --lumo-shade-30pct: #9FB1BD;
    --lumo-shade-70pct: #5B7282;
    --lumo-shade-80pct: #3E5463;
    --lumo-shade-90pct: #3B5C72;

    --lumo-contrast-5pct: var(--lumo-shade-10pct);
    --lumo-contrast-40pct: var(--lumo-shade-30pct);
    --lumo-contrast-50pct: #7A909E;
    --lumo-contrast: #1C2B36;

    --lumo-primary-text-color: var(--lumo-primary-color);
    --lumo-disabled-text-color: #B4C2CC;

    --gm-info-color: #0D1826;
    --gm-primary-dark-color: #0D4EA6;
    --gm-divider-color: var(--lumo-shade-10pct);
    --gm-tint-90pct: #F2F5F7;
    --gm-iconalone-color: #3E5463;

    --lumo-font-size-l: 16px;
    --lumo-font-size-m: 14px;
    --lumo-font-size-xs: 11px;
    --lumo-font-size-xxxs: 8px;
    --lumo-border-radius: 2px;
    --lumo-size-m: 32px;

    --lumo-size-l: 40px;
    --lumo-body-text-color: var(--lumo-contrast);
}

vaadin-select-list-box hr {
    margin: 0.125rem 0px;
    background-color: var(--gm-divider-color);
}

vaadin-list-box vaadin-item::part(checkmark)::before {
    color: var(--lumo-contrast);
}
